<div class="address-container">
  <label>Address</label>
  <div class="content-wrapper">
    <div class="location-picker-container">
      <div class="input-group">
        <label for="from">Source</label>
        <input type="text" id="from" placeholder="Kondapur, Hyderabad, Telangana, India">
      </div>
      <div class="swap-button-container">
        <button class="swap-button">&#8645;</button>
      </div>
      <div class="input-group">
        <label for="to">Destination</label>
        <input type="text" id="to" placeholder="Rajiv Gandhi International Airport (HYD), Shamshabad...">
      </div>
    </div>
    <div class="map-container">
      <app-map></app-map>
    </div>
  </div>
</div>
